<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter name", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control", placeholder: "Enter description", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control", placeholder: "Enter content", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>